button {
  @include no-select;
  border: none;
  border-radius: 2px;
  margin: 0 8px 8px 0;
  position: relative;

  &:disabled,
  &[disabled] {
    opacity: 0.5 !important;
  }

  &.flat {

  }

  &.primary {
    background-color: $primary;
    color: $light;
    @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.26));
    &:active {
      @include box-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
    }
  }

  &.accent {
    background-color: $accent;
    color: $light;
    @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.26));
    &:active {
      @include box-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
    }
  }
}