$mediumPadding: 8px;
$mediumFontSize: 16px;

$mediumBigPadding: 8px;
$mediumBigFontSize: 24px;

$bigPadding: 16px;
$bigFontSize: 24px;

$hugePadding: 16px;
$hugeFontSize: 40px;

button,
input,
textarea,
select {
  vertical-align: top;
  display: inline-block;
  margin: 0;
  color: $mediumDark;
  box-sizing: border-box;
  border-radius: 2px;

  height: 2 * $mediumPadding + $mediumFontSize;
  padding: $mediumPadding;
  font-size: $mediumFontSize;
  line-height: 1;

  &.huge {
    padding: $hugePadding;
    font-size: $hugeFontSize;
    height: 2 * $hugePadding + $hugeFontSize;
    line-height: 1;
  }

  &.big {
    padding: $bigPadding;
    font-size: $bigFontSize;
    height: 2 * $bigPadding + $bigFontSize;
    line-height: 1;
  }

  &.medium-big {
    padding: $mediumBigPadding;
    font-size: $mediumBigFontSize;
    height: 2 * $mediumBigPadding + $mediumBigFontSize;
    line-height: 1;
  }
}

.calendar {
  position: relative;
  display: inline-block;
  vertical-align: top;

  input,
  textarea {
    padding-right: 2 * $mediumPadding + $mediumFontSize;

    &.huge {
      padding-right: 2 * $hugePadding + $hugeFontSize;
    }

    &.big {
      padding-right: 2 * $bigPadding + $bigFontSize;
    }

    &.medium-big {
      padding-right: 2 * $mediumBigPadding + $mediumBigFontSize;
    }
  }

  i {
    color: $placeholderColor;
    font-size: $mediumFontSize;
    top: $mediumPadding;
    right: $mediumPadding;

    position: absolute;
    &.huge {
      font-size: $hugeFontSize;
      top: $hugePadding;
      right: $hugePadding;
    }

    &.big {
      font-size: $bigFontSize;
      top: $bigPadding;
      right: $bigPadding;
    }

    &.medium-big {
      font-size: $mediumBigFontSize;
      top: $mediumBigPadding;
      right: $mediumBigPadding;
    }
  }
}
