#Reviews {
  .review {
    padding: 16px;

    h3 {
      font-size: 1.7rem;
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: uppercase;
      letter-spacing: 1.2px;
    }

    h5 {
      font-size: 1.6rem;
      color: #5a5e6a;
    }

    p {
      margin-bottom: 1rem;
      line-height: 1.6;
      color: #5a5e6a;
      letter-spacing: 0.3px;
    }
  }


}