<!DOCTYPE html>
<html>
{{template "components/head.gohtml" .}}
<body id="paradise" class="{{.Platform.Short}}">
{{template "components/header.gohtml" .}}
{{template "components/main.gohtml" .}}
{{template "components/footer.gohtml" .}}
</body>
</html>