.popup {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 16px;
  line-height: 1;

  h3 {
    color: rgba(darken($primary, 40%), 0.7);
    line-height: 1;
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    margin-bottom: 50px;
  }

  position: relative;
  .actions {

    line-height: 1;
    display: inline-block;
    width: 100%;

    .right {
      float: right;
    }

    .left {
      float: left;
    }

    @media (max-width: 750px) {
      width: auto;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 24px 16px 16px;

      @include linear-gradient("to top", rgba($light, 1) 0%, rgba($light, 1) 80%, rgba($light, 0) 100%);

      button {
        width: 100%;
      }
    }
  }

  .step-progress-bar {
    margin-top: -10px;
  }

  .min-height {
    min-height: 410px;
    display: inline-block;
    width: 100%;
    line-height: 1;
  };

  form {
    max-width: 320px;
    @media (max-width: 750px) {
      max-width: unset;
    }
    margin: auto;
  }
}

@import "PersonalInformation/PersonalInformation";
