.main,
.footer {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px 0 24px;
  @media (max-width: 750px) {
    padding: 10px;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-bolder {
  font-weight: bolder;
}

.text-bold {
  font-weight: bold;
}
