$navColor: darken($primary, 20%);
$navHFColor: darken($primary, 12%);
$navSelectedColor: darken($primary, 16%);

body {
  padding-top: $navHeightWide;
  @media (max-width: 750px) {
    padding-top: $navHeightNarrow;
  }
}

nav {
  @include no-select;
  background-color: $navColor;
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $navHeightWide;
  line-height: $navHeightWide;
  @media (max-width: 750px) {
    height: $navHeightNarrow;
    line-height: $navHeightNarrow;
  }
  display: block;
  margin: 0;
  @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.26));
  overflow: hidden;

  .sandwich,
  .brand {
    @include transition(0.2s);
    & > a {
      outline: none;
      text-decoration: none;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: block;
    }

    cursor: pointer;
    height: $navHeightWide;
    @media (max-width: 750px) {
      height: $navHeightNarrow;
    }
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    position: relative;

    i {
      left: 15px;
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      line-height: 1;
      @include text-shadow(1px 1px 2px rgba(0, 0, 0, 0.26));
    }

    color: $light;
    background-color: $navColor;
    opacity: 0.9;

    &:hover,
    &:focus {
      background-color: $navHFColor;
      opacity: 1.0;
    }
  }

  .brand {
    width: 160px;
    div.text {
      left: 56px;
      top: 50%;
      @include transform(translateY(-50%));
      position: absolute;
      font-size: 18px;
      font-weight: 300;
      span {
        font-weight: 900;
      }
      line-height: 1;
    }
    i {
      font-size: 40px;
    }
  }

  .navbar {
    display: block;
    float: right;
    list-style: none;
    margin: 0;
    @media (max-width: 750px) {
      display: none;
    }

    li {
      margin: 0;
      display: inline-block;
      font-weight: normal;
      position: relative;

      & > a {
        outline: none;
        font-weight: normal;
        padding-left: 16px;
        padding-right: 16px;
        color: $light;
        display: block;
        font-size: 20px;
        height: 100%;
        text-decoration: none;
        @include transition(0.2s);

        &.selected {
          background-color: $navSelectedColor;
        }
      }

      & > a:hover,
      & > a:focus {
        background-color: $navHFColor;
      }

    }
  }

  .sandwich {
    @media (min-width: 750px) {
      display: none;
    }
    position: relative;
    width: 60px;
    float: right;
    i {
      font-size: 24px;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
    }
  }

  .sandwich:hover
  .brand:hover {
    opacity: 1;
  }
}