<div class="main">
	<ul class="card-collection">
		{{range $i, $v := .Offers}}
		<li class="card">
			<img src="{{$v.Photo}}"/>
			<div class="info">
				<h3>{{$v.Title}}</h3>
				<p>{{$v.Description}}</p>
				<div class="price">{{$v.Price}} lei / persoană</div>
			</div>
			<div class="actions">
				<button>Detalii</button>
				<button class="accent">Rezervă</button>
			</div>
		</li>
		{{end}}
	</ul>
</div>