<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
<url>
  <loc>{{.SiteRootAddress}}</loc>
  <lastmod>2018-03-22T17:30:49+00:00</lastmod>
  <priority>1.00</priority>
</url>
<url>
  <loc>{{.SiteRootAddress}}/oferta</loc>
  <lastmod>2018-03-22T17:30:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>{{.SiteRootAddress}}/locatie</loc>
  <lastmod>2018-03-22T17:30:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>{{.SiteRootAddress}}/recenzii</loc>
  <lastmod>2018-03-22T17:30:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>{{.SiteRootAddress}}/tarife</loc>
  <lastmod>2018-03-22T17:30:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>{{.SiteRootAddress}}/galerie/pensiune</loc>
  <lastmod>2018-03-22T17:30:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>{{.SiteRootAddress}}/galerie/camere</loc>
  <lastmod>2018-03-22T17:30:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>{{.SiteRootAddress}}/galerie/excursii</loc>
  <lastmod>2018-03-22T17:30:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>{{.SiteRootAddress}}/galerie/pescuit</loc>
  <lastmod>2018-03-22T17:30:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>{{.SiteRootAddress}}/galerie/piscina</loc>
  <lastmod>2018-03-22T17:30:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>{{.SiteRootAddress}}/galerie/restaurant</loc>
  <lastmod>2018-03-22T17:30:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>{{.SiteRootAddress}}/oferta/team-building-delta-dunarii-paradise-mila23.html</loc>
  <lastmod>2018-03-22T17:30:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>{{.SiteRootAddress}}/oferta/vila-francesca-paradise-delta-house-mila23.html</loc>
  <lastmod>2018-03-22T17:30:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>{{.SiteRootAddress}}/oferta/oferta-paste-2018-delta-dunarii.html</loc>
  <lastmod>2018-03-22T17:30:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>{{.SiteRootAddress}}/oferta/oferta-1-mai-2018-delta-dunarii-sejur-4zile-3nopti-mila23.html</loc>
  <lastmod>2018-03-22T17:30:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>{{.SiteRootAddress}}/oferta/rusalii-2018-delta-dunarii-4zile-3nopti-mila23.html</loc>
  <lastmod>2018-03-22T17:30:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>{{.SiteRootAddress}}/oferta/sejur-de-lux-4-zile-3-nopti-delta-dunarii.html</loc>
  <lastmod>2018-03-22T17:30:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>{{.SiteRootAddress}}/oferta/sejur-de-lux-5-zile-4-nopti-delta-dunarii.html</loc>
  <lastmod>2018-03-22T17:30:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>{{.SiteRootAddress}}/oferta/pescuit-delta-dunarii-2018-mila23.html</loc>
  <lastmod>2018-03-22T17:30:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>{{.SiteRootAddress}}/oferta/excursie-o-zi-delta-dunarii-paradise-delta-house.html</loc>
  <lastmod>2018-03-22T17:30:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
</urlset>