@import "~normalizecss/normalize.css";
@import "../vendor/skeleton/css/skeleton.css";
@import "../vendor/icomoon/style";
@import "base/globals";
@import "base/colors";
@import "base/fonts";
@import "base/mixins";
@import "base/animations";

div {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
html {
  cursor: auto;
  width: 100%;
  background-color: $light;
  color: #444;
}

body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll !important;
}

#eXTReMe-Free-nhu65ar {
  opacity: 0.5;
  position: relative;
  left: 10%;
  bottom: 0;
}

@import "base/layout";
@import "base/form/form";
@import "base/navigation_bar";
@import "base/card";
@import "base/modal/modal";
@import "base/progress";
@import "base/markdown";

@import "Index/Index";
@import "Location/Location";
@import "Gallery/Gallery";
@import "Edit/PackageEdit";
@import "Reviews/Reviews";
