#Confirmation {
  p {
    color: rgba(darken($primary, 30%), 0.8);
    &.top {
      margin-top: 0;
      text-align: center;
      margin-bottom: 0;
    }
    &.payment {
      font-size: 50px;
      text-align: center;
      font-weight: 500;
      line-height: 1.3;
      margin-bottom: 10px;
    }
    &.bottom {
      text-align: center;
      margin-bottom: 20px;
    }
    &.notification {
      text-align: center;
      font-style: italic;
      font-size: 14px;
    }
  }
}