#Gallery {
  .card-collection {
    margin-top: 24px;

    .card {
      text-align: left;
      background-color: white;
      width: 340px;
      position: relative;

      @media (max-width:750px) and (min-width:650px) { 
        width: 300px;
      }

      @media (max-width: 649px) {
        width: 80%;
      }
    }
  }

  img {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    max-width: 100%;
  }
}