<!DOCTYPE html>
<html>
{{template "layout/components/head.gohtml" .}}
<body class="{{.Platform.Short}}">
<div id="paradise">
	{{template "layout/components/header.gohtml" .}}
	{{template "layout/components/main.gohtml" .}}
	{{template "layout/components/footer.gohtml" .}}
</div>
</body>
</html>