<!DOCTYPE html>
<html lang="ro">
{{template "layout/components/head.gohtml" .}}
<body class="{{.Platform.Short}}">
<div id="paradise">
	{{template "layout/components/header.gohtml" .}}
	{{template "layout/components/main.gohtml" .}}
	{{template "layout/components/footer.gohtml" .}}
</div>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-98691662-1', 'auto');
	ga('set', 'anonymizeIp', true);
	ga('send', 'pageview');

</script>
<script src="//t1.extreme-dm.com/f.js" id="eXF-nhu65ar-0" async defer></script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5abb44f34b401e45400e1f09/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
</html>
